<h3> Anime </h3>

<form [formGroup]="checkoutForm" (ngSubmit)="searchAnimeList()"
    style="padding-top: 1em;">
    <div class="inline" style="padding-right: 1em;">
      <label for="title">
        Título contiene
      </label>
      <input id="title" type="text" formControlName="title">
    </div>
    <button class="button inline" type="submit">Buscar</button>
</form>

<table mdbTable *ngIf="animeList.length > 1">
    <col style="width:60%">
    <col style="width:30%">
	<col style="width:10%">
    <col style="width:10%">
    <thead class="black white-text" >
        <tr>
            <th> Título </th>
            <th> Punt. </th>
            <th> Precio </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let anime of animeList">
            <td>
                <a [title]="anime.title"
                    style="color: white;"
                    [routerLink]="['/anime', anime.mal_id]"
                    [queryParams]="{text: titleSearch}">
                    {{ anime.title }}
                </a>
            </td>
            <td style="text-align: center;">{{ anime.score }}</td>
            <td style="text-align: center;">{{ (anime.episodes * 1.5) | currency: 'EUR'}}</td>
            <td style="text-align: center;">
                <button (click)="addToCart(anime)">+</button>
            </td>
        </tr>
    </tbody>
</table>